body {
	padding-top: 60px;
}
.charts [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	line-height: 30px;
}
ul.nav > li > a > i {
	margin-right: 5px;
}